*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    background-color: black;
    display: flex;
    height: 200px;
    justify-content: space-between;
}

#logo-co{
    
        /* margin: 0 auto; */
        /* margin-top: 16px;
        margin-left: 16px; */
        height: 160px;
    
}

.navbar-section{
    height: 200px;
}

.navbar{
    background-color: black;
}

.card{
    padding: 1rem;
    margin: 1rem;
}
